body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:924px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:589px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:22px;
  width:924px;
  height:589px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00CC33;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:75px;
  height:19px;
  font-size:18px;
  color:#00CC33;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:35px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:28px;
  width:172px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:69px;
  width:855px;
  height:234px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:69px;
  width:140px;
  height:35px;
  font-size:16px;
  color:#000000;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:104px;
  width:110px;
  height:31px;
  font-size:16px;
  color:#000000;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:107px;
  width:96px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:150px;
  width:68px;
  height:31px;
  text-align:center;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:104px;
  width:110px;
  height:31px;
  font-size:16px;
  color:#000000;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:107px;
  width:96px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:150px;
  width:110px;
  height:31px;
  font-size:16px;
  color:#000000;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:153px;
  width:258px;
  height:35px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:223px;
  width:68px;
  height:31px;
  text-align:center;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:337px;
  width:855px;
  height:234px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:35px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:337px;
  width:328px;
  height:35px;
  font-size:16px;
  color:#000000;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:324px;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:391px;
  width:109px;
  height:16px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u129_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:429px;
  width:109px;
  height:16px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u130_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:480px;
  width:68px;
  height:31px;
  text-align:center;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:391px;
  width:109px;
  height:16px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u132_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:429px;
  width:109px;
  height:16px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u133_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
