body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-229px;
  width:454px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00CC33;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:155px;
  height:19px;
  font-size:18px;
  color:#00CC33;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:514px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:109px;
  width:454px;
  height:514px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:352px;
  width:136px;
  height:35px;
  font-size:16px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:387px;
  width:136px;
  height:35px;
  font-size:16px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:393px;
  width:179px;
  height:23px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:432px;
  width:136px;
  height:35px;
  font-size:16px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:438px;
  width:179px;
  height:23px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:477px;
  width:136px;
  height:35px;
  font-size:16px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:483px;
  width:179px;
  height:23px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:115px;
  width:136px;
  height:35px;
  font-size:16px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:165px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:150px;
  width:234px;
  height:165px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:530px;
  width:68px;
  height:31px;
  text-align:center;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align:center;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:530px;
  width:68px;
  height:31px;
  text-align:center;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
